<div class="page-header">
  <h1>Keep in touch. <small>Work comes when networked.</small></h1>
</div>    
<div class="row text-center">
    <span>I am social.</span>
            <a class="btn  " href="https://twitter.com/dhavalsharma">
              <i class="fa fa-twitter fa-4x"></i>
              </a>
            <a class="btn " href="http://www.facebook.com/dhavalworks">
              <i class="fa fa-facebook-square fa-4x"></i>
              </a>
            <a class="btn " href="https://plus.google.com/+dhavalsharma">
              <i class="fa fa-google-plus fa-4x"></i>
              </a>
            <a class="btn " href="http://www.linkedin.com/in/dhavalsharma">
              <i class="fa fa-linkedin-square fa-4x"></i>
              </a>
            <!--<a class="btn " href="https://play.google.com/store/apps/details?id=com.pari.artgallery">
              <i class="fa fa-share-square-o fa-4x"></i>
              </a>-->
            <a class="btn " href="mailto:me@dhavalsharma.com">
              <i class="fa fa-envelope fa-4x"></i>
              </a>
            <a class="btn " href="tel:918867252530">
              <i class="fa fa-mobile fa-4x"></i>
              </a>
    <span>Are you social too?</span>
    </div>
<div class="row text-center">
<iframe src="https://docs.google.com/forms/d/1MbHr_BWz_MIbbJFSRBvHKvWT63e2b9yuLFQw-z12p-c/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>