<div class="page-header">
  <h1>Multiple ways for you to find work. <small> And to hire my services.</small></h1>
</div>

<div class="row" >
<div class="col-md-3" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  <div class="ds-sidenav hidden-print" role="complementary" >
    <!--
      <ul class="nav bs-sidenav">
        <li>
            <a href="#overview">Overview</a>
        </li>
        <li>
            <a href="#overview1">Overview</a>
        </li>        
    </ul>
      -->
    <nav>
      <ul class="nav nav-pills nav-stacked span2">
        <li><a data-ng-click="gotoHash('mobileApps')">Mobile Applications</a></li>
        <li><a data-ng-click="gotoHash('onlineMarketPlace')">Online Marketplaces</a></li>
        <li><a data-ng-click="gotoHash('crowdSource')">CrowdSourcing</a></li>
          <li><a data-ng-click="gotoHash('mean')">Web stacks</a></li>      
      </ul>
    </nav>
  </div>
</div>
<div class="col-md-9" role="main">
    <div>
    <div class="page-header">
      <h1 id="mobileApps">Opportunities on mobile world</h1>
    </div>
    <p class="lead">Mobile is a complex journey. Join me to explore and evaluate the possibilities</p>
    <p>I have portfolio of mobile apps on <a href="https://itunes.apple.com/in/artist/dhaval-sharma/id701357894">iOS</a> and <a href="https://play.google.com/store/apps/developer?id=dhaval+sharma">Android</a>.</p>
    </div>
    <div>
    <div class="page-header">
      <h1 id="onlineMarketPlace">Online Projects marketplaces</h1>
    </div>
    <p class="lead">There is work for all skills. Find a niche and manage your clientele.</p>
    <p>You can checkout odesk.com and elance.com.</p><p>My profile on <a href="https://www.odesk.com/users/%7E011681444e0fa095ca">odesk</a> and <a href="https://www.elance.com/s/mastraho/">elance</a> to collaborate with you.</p>
    </div>
    <div>
    <div class="page-header">
      <h1 id="crowdSource">Online Crowdsourcing options</h1>
    </div>
    <p class="lead">If you believe work is a gamble then play the crowdsourcing game.</p>
    <p>I have explored TopCoder.com and you can also find me <a href="http://community.topcoder.com/tc?module=MemberProfile&cr=22831041">there</a>.</p>
    </div>
    <div>
    <div class="page-header">
      <h1 id="mean">Explore web stacks</h1>
    </div>
    <p class="lead">The web has multiple stacks to offer. Pick your choice and experiment.</p>
    <p>I am creating an arts gallery using MEAN (mongodb,expresses,angular and nodejs). See the progress at  <a href="http://mamtarts.com">Mamta Arts Gallery</a>.</p> 
        <p>In fact, this website is primarily built in Twitter Bootstrap, Angular and hosted on php stack at OpenShift.</p>
    </div>    
</div>    
</div>    