      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>How to build a freelancing career?!</h1>
        <p class="lead">I am doing it in software. You can do it in your chosen field. <span class="text-danger">We must earn doing what we love doing.</span></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Mobile Applications</h2>
          <p class="text-danger">We can create mobile applications for you.</p>
          <p>I have created apps on Google Android, Apple iOS ( iPhone/iPad) and hybrid frameworks like phonegap. </p>
          <p><a class="btn btn-primary" href="#/services#mobileApps" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Projects marketplaces</h2>
          <p>You need to create a portfolio on online marketplaces to get noticed. I have created my work profile on odesk and elance</p>
          <p><a class="btn btn-primary" href="#/services#onlineMarketPlace" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Crowdsourcing</h2>
          <p>Many have made a significant career out of crowdsourcing online platforms. I have copeted and participated at TopCoder's platform doing business and architectural documentation and creating assemblies.</p>
          <p><a class="btn btn-primary" href="#/services#crowdSource" role="button">View details &raquo;</a></p>
        </div>
      </div>